.navbar {
  background-color: #5ee9ff !important;
  background-image: none !important;
}

.navbar-brand {
  color: white !important;
}

#navLink {
  color: white !important;
  padding-right: 5px;
  padding-left: 5px;
}
