#footer {
  margin-top: 50px;
  text-align: center;
  background-color: lemonchiffon;
  box-shadow: 0 50vh 0 50vh lemonchiffon;
  margin-bottom: 0px;
}

#FooterItem {
  padding-top: 20px;
  margin-bottom: 0px !important;
  border-bottom: 0px !important;
}
